@tailwind base;
@tailwind components;
@tailwind utilities;

.mobile-image-shadow {
  filter: drop-shadow(0px 30px 1px rgba(0, 0, 0, 0.1));
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

details {
  @apply border-b border-primary-light mb-4 pb-2;

  &[open] summary {
    @apply text-primary-darker font-bold;

    &::after {
      transform: rotate(180deg);
    }
  }

  summary {
    @apply flex items-center justify-between py-2 hover:text-secondary-base hover:cursor-pointer;

    &::after {
      content: '';
      @apply w-3 h-3 inline-block bg-no-repeat bg-contain bg-center;

      background-image: url('assets/icon-arrow-down.svg');
    }
  }
}
